#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    /* border: 1px solid #ddd; */
    padding-left: 0;
  }
  .Rounded-Thead{
  border-radius: 10px;
   }
  
  .Rounded-Tbody{
  
    border-radius: 10px;
  }
   /* #customers tr:nth-child(even){background-color: #f2f2f2;} */
  
  
   /* 
   #customers td{
     border-radius: 10px;
   } */
  
  #customers tr:hover 
  {
    background-color: #ddd;
    
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7b97ea;
    color: white;
  }
  #filter{
      all: initial;
  }
  #tableBody:hover {
    cursor: pointer;
  }

  #chatWithUs
  {
    position: fixed;
    right: 5%;
    bottom: 5%;
    max-height: 10%;
    max-width: 10%;
    background-color: #7b97ea;
    color: #7b97ea;
   
    
    
  }
  #chatContainer{
    background-color: #7b97ea;
    color: #7b97ea;


  }
  .priorityButton
  {
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: white;
    border: none;
    width: 60%;
    border-radius: 5px;
  }
  
  #customers tr
  {
    padding-top: 120px;
  }
  .createdByButton
  {
    border: none;
    background-color: lightseagreen;
    color: white;
    border-radius: 50%;
    /* width: 20%;
    height: 20%; */
  }
  .assignedToButton
  {
    border: none;
    background-color: lightseagreen;
    color: white;
    border-radius: 50%;
    /* width: 20%;
    height: 20%; */
  }
  
  #customers thead tr:first-child th:last-child{ border-top-right-radius: 10px; }
  #customers thead tr:first-child th:first-child{ border-top-left-radius: 10px; }
  
  .subject
  {
    font-weight: bold;
  }
  #sortBy{
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  
  #sortBy select:hover{
    cursor: pointer;
  }

/* tr:hover {background-color: coral;} */